.minigame-container {
  height: 100%;
  width: 100%;
  canvas {
    touch-action: none;
  }
  h1 {
    position: absolute;
    z-index: 1111;
    color: white;
    right: 5%;
  }
  div.rules,
  div.wave-message{
  position: absolute;
    z-index: 100;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .health-container {
    position: absolute;
    top: 5%;
    right: 5%;
    color: #222240;
    background: rgba(245, 245, 235, 0.7);
    backdrop-filter: blur(16px);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    border-radius: 8px;
    p {
      font-weight: 600;
      margin: 0 0.5em 0 0;
    }

  }
  h2 {
    color: white;
    font-size: 3em;
  }
  .drag-control {
    width: 80px;
    height: 80px;
    background: hotpink;
    border-radius: 16px;
    position: absolute;
    z-index: 1000;
  }
  .mobile-control {
    > div {
      position: absolute;
      width: 50%;
      z-index: 100;
      bottom: 0;
      height: 30%;
    }
    > div:first-child {
      right: 0;
    }
    > div:nth-child(2) {
      left: 0;
    }
  }
}