@import '../../index';

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13%;
  position: relative;
  background: url("../../assets/images/step_timeline/line.png") 60% 50% repeat-x;

  >div {
    display: flex;
    align-items: center;
  }

  .rocketStep {
    position: absolute;
    z-index: 999;
  }

  .stepHelmet {
    position: absolute;
    left: 56.5%;
  }
}

@media screen and (max-height: 600px) {
  .timeline {
    div:first-child {
      img {
        width: 36px;
      }
    }
    div:last-child {
      img {
        width: 26px;
      }
    }
  }
}

@media screen and (max-height: 600px) {
  .timeline {
    div:first-child {
      img {
        width: 36px;
      }
    }
    div:last-child {
      img {
        width: 26px;
      }
    }
  }
}