@import '../../../index';

.startGame {
  height: 100%;
  width: 100%;
  background: url('../../../assets/images/window_home.png') center no-repeat, #F0F0ED !important;
  background-size: 60%, 100% !important;
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .logo {
    height: 6rem;

    img {
      height: 100%;
      display: block;
      object-fit: cover;
      margin: 0 auto;
    }
  }

  .listButtons {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      background: $brown;
      width: 80%;
      max-width: 310px;
      height: 56px;
      color: $white;
      border: none;
      border-radius: 4px;
      font-size: 24px;
      font-weight: 700;
      font-family: Futura, sans-serif;
    }

    button:hover {
      background: $brownHover;
      cursor: pointer;
    }

    button:active {
      background: $brownActive;
    }

    a {
      color: $brown;
    }

    a:hover {
      color: $brownHover;
    }

    a:active {
      color: $brownActive;
    }
  }

  .small {
    margin-top: 1.5rem;
  }
}

@media screen and (max-height: 600px) {
  .startGame {
    background: url('../../../assets/images/window_home.png') center no-repeat, #F0F0ED !important;
    background-size: 67%, 100% !important;
    .logo {
      height: 4.5rem;
    }
  }
}

@media screen and (min-width: 600px) {
  .startGame {
    background-size: 80%, 100% !important;

    .logo {
      margin-top: 2rem;
    }
  }
}
