.controls-container {
  background: #F5F5F3;
  position: absolute;
  bottom: 0;
  z-index: 10;
  height: 40%;
  width: 100%;
  .nut {
    position: absolute;
  }
  .nut:first-child {
    left: 5%;
    top: 5%;
  }
  .nut:nth-child(2) {
    right: 5%;
    top: 5%;
  }
  .nut:nth-child(3) {
    left: 5%;
    bottom: 5%;
  }
  .nut:nth-child(4) {
    right: 5%;
    bottom: 5%;
  }
  .image-container {
    display: flex;
    justify-content: center;
    padding-top: 2%;
  }
  > p {
    font-size: 12px;
    color:  #222240;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0.5em 0 0.5em;
  }
  .buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2% 4% 0;
    button {
      box-shadow: 0px 4px 0px rgba(64, 35, 39, 0.25);
      margin-bottom: 1em;
      padding: 4% 5%;
      height: 100%;
      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
    }
    button:active {
      opacity: 0.5;
      box-shadow: none;
    }
    .secondary-button.large {
      padding: 4% 15%;
    }
  }
}

@media screen and (min-width:640px){
  .controls-container {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
      width: 100%;
    }
    .image-container {
      padding-top: 0;
    }
    .buttons-container {
      margin: 1% auto 0;
      max-width: 450px;
      .secondary-button.large {
        padding: 18px 65px;
      }
      button {
        padding: 18px 20px;
        border-radius: 6px;
        img {
          width: 35px;
          height: 35px;
        }
      }
    }
  }

}
