.controls-container {
  background: #F5F5F3;
  position: relative;
  height: 36vh;
  .control-bar {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 0.35em;
    background: #222240;
    border-radius: 5px;
  }
  .nut {
    position: absolute;
  }
  .nut:first-child {
    left: 5%;
    top: 5%;
  }
  .nut:nth-child(2) {
    right: 5%;
    top: 5%;
  }
  .nut:nth-child(3) {
    left: 5%;
    bottom: 5%;
  }
  .nut:nth-child(4) {
    right: 5%;
    bottom: 5%;
  }
  .image-container {
    display: flex;
    justify-content: center;
    padding-top: 2%;
  }
  > p {
    font-size: 12px;
    color:  #222240;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0.5em 0 0.5em;
  }
  .buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2% 4% 0;
    button {
      box-shadow: 0px 4px 0px rgba(64, 35, 39, 0.25);
      margin-bottom: 1em;
      padding: 4% 5%;
      height: 100%;
      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
    }
    button:active {
      opacity: 0.5;
      box-shadow: none;
    }
    .secondary-button.large {
      padding: 4% 15%;
    }
  }
}