.space-gauge-container {
  width: 25px;
  height: 200px;
  background-color: white;
  background-size: cover;
  border-radius: 10px;
  margin: 10px 0;
  position: absolute;
  z-index: 100;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}
.space-gauge-content {
  top: 0;
  position: absolute;
  height: 20%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-color: grey;
}