

.moongame-container {
  height: 100%;
  > div.ingame {
    height: 100%;
  }
  .progress {
    position: absolute;
    color: white;
    z-index: 10;
    top: 20%;
  }
  .health-container {
    top: 37%;
  }
  .secondary-button {
    background: #402327;
    border-radius: 4px;
    padding: 5%;
  }
  p {
    text-align: center;
  }
}

@media screen and (min-width:640px){
  .health-container {
    right: 30%;
  }
  }