.buttons-container {
  position: absolute;
  bottom: 0;
  margin: 5em;
  left: 50%;
  transform: translateX(-50%);
  button {
    box-shadow: 0px 4px 0px rgba(64, 35, 39, 0.25);
  }
}

.secondary-button {
  background: #402327;
  border-radius: 4px;
  padding: 2em;
  margin: 1em;
}

.health-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.instructions {


  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .instruction.done {
    opacity: 0.5;
  }
}
p {
  text-align: center;
}