.card-container {
  display: flex;
  flex-direction: column;
  height: 30vh;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 1em;
  margin: 2em auto 2em;
  width: 80%;
}

.tutorialStyle {
  width: 100vw;
  height: 100vw;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;

  .steps {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 2rem;
  }
}
