.instructions-container{
  position: absolute;
  color: white;
  z-index: 10;
  top: 45%;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  .instructions {
    justify-content: center;
    display: flex;
    background: white;
    padding: 0.5em 0;
    align-items: center;
    border-radius: 0 0 4px 4px;
    min-height: 50px;
    img.result {
      width: 50px;
      height: 50px;
    }
    div {
      img {
        width: 20px;
        height: 20px;
      }
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .instruction.done {
      opacity: 0.5;
    }
    .instruction {
      padding: 15px;
      margin: 0 5px;
    }
  }
}

@media screen and (min-width:640px){
  .instructions-container {
    min-width: 40%;
    width: auto;
    top: 42%;
    .instructions {
      padding: 5% 0;
      min-height: 70px;
      .instruction {
        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}