@import "../../../index";

.randomCard {
  border-radius: 8px;
  background: #f5f5eb;
  height: 83%;
  width: 100%;
  overflow: hidden;
  position: relative;

  .card {
    height: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;

    h2,
    p {
      color: $blue;
      margin: 0;
    }

    h2 {
      margin: 0.4rem;
    }

    p {
      line-height: 140%;
    }

    .headerCard {
      height: 65%;

      img {
        width: 116px;
      }
    }

    .randomButtons {
      height: 35%;

      .buttonsCard {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        button {
          width: 100%;
          height: 74px;
          min-height: 74px;
          display: flex;
          align-items: center;
          text-align: left;
          margin-top: 0.75rem;
          padding: 0 16px;

          img {
            margin-right: 0.75rem;
          }
        }
      }

      .randomChoice {
        height: 100%;

        > div {
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          button {
            height: calc((74px * 2) + 0.75rem);
            min-height: calc((74px * 2) + 0.75rem);
            width: 48%;
            padding: 0;
            background-image: url("../../../assets/images/cards/back_cards.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
          }
        }
      }

      .modalAnswer {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.25);
        position: absolute;
        top: 0;
        left: 0;

        > div {
          background: $white;
          border-radius: 8px;
          position: absolute;
          top: 25%;
          width: calc(100% - 64px);
          margin: 0 16px;
          padding: 16px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .pictureModal {
            height: 110px;
            background-size: cover;
            background-position: center;
            border-radius: 4px;
          }
        }

        p {
          color: $blue;
          margin: 1rem 0;
        }

        .skipConsequence {
          font-size: 16px;
          color: $white;
          font-weight: 700;
          width: 100%;
          height: 3rem;
        }
      }
    }
  }
}

@media screen and (max-height: 800px) {
  .randomCard {
    .card {
      p {
        font-size: 17px;
      }
      .headerCard {
        .iconCategory {
          margin: 0 !important;
          img {
            width: 100px;
          }
        }
      }
    }
  }
}

@media screen and (max-height: 600px) {
  .randomCard {
    height: 84%;

    .card {
      height: calc(100% - 24px);
      padding: 12px;

      .headerCard {
        height: 58%;
        display: flex;

        .iconCategory {
          display: none;
        }

        p {
          font-size: 16px;
        }
      }

      .randomButtons {
        height: 42%;
        .buttonsCard {
          button {
            height: 68px;
            min-height: 68px;
            margin-top: 0.5rem;
          }
        }
        .randomChoice {
          > div {
            button {
              height: calc(68px * 2);
              min-height: calc(68px * 2);
            }
          }
        }
        .modalAnswer {
          > div {
            width: calc(100% - 48px);
            padding: 12px;
            margin: 0 12px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .randomCard {
    max-height: 594px;
    .card {
      .headerCard {
        .iconCategory {
          margin: 1.5rem 0 1rem;
        }
        h2 {
          margin: 1rem 1.5rem;
        }
        img {
          width: 144px;
        }
      }
      .randomButtons {
        .buttonsCard {
          button {
            padding: 0 24px;
          }
        }
        .modalAnswer {
          width: 48vh;
          margin: 0 auto;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
