@import "./index";

@font-face {
  font-family: "Futura";
  src: local("FuturaBook"),
    url("./assets/fonts/FuturaBook.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Futura";
  src: local("FuturaMedium"),
    url("./assets/fonts/FuturaMedium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Futura";
  src: local("FuturaHeavy"),
    url("./assets/fonts/FuturaHeavy.ttf") format("truetype");
  font-weight: 700;
}

html,
body,
#root,
.three-container,
canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

body {
  margin: 0;
  font-family: Futura, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  overflow: hidden;

  p,
  h1,
  h2,
  h3,
  h4 {
    margin: 0 auto;
  }

  .titleGame {
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
  }

  .titleBig,
  .year {
    font-weight: 700;
    font-size: 24px;
  }

  .description {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
  }

  .choice {
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
  }

  .stat {
    font-weight: 700;
    font-size: 12px;
  }

  .small {
    font-weight: 700;
    font-size: 18px;
    line-height: 124%;
  }

  button {
    background: $brown;
    color: $white;
    border: none;
    border-radius: 4px;
    font-family: Futura, sans-serif;
  }

  button:hover {
    background: $brownHover;
    cursor: pointer;
  }

  a:hover {
    cursor: pointer;
  }

  button:active {
    background: $brownActive;
  }
}

@media screen and (max-height: 600px) {
  body {
    .description {
      font-size: 16px;
      line-height: 134%;
    }
  }
}

@media screen and (min-width: 600px) {
  body {
    background: linear-gradient(#1f1e24, #19191e) !important;

    .App {
      > div:first-child {
        max-width: 48vh;
        min-width: 330px;
        margin: 0 auto;
        background: url('./assets/images/cards/background_cards.png') center repeat, linear-gradient(#201F3D, #282747);
      }
    }
  }
}
