html,
body,
#root,
.three-container,
canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.head-container {
  display: flex;
  justify-content: space-around;
}

ul {
  padding: 0;
}

.fullScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background: white;
  justify-content: center;
}