@font-face {
  font-family: 'Futura';
  src: local('FuturaBook'), url('./fonts/FuturaBook.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Futura';
  src: local('FuturaHeavy'), url('./fonts/FuturaHeavy.ttf') format('truetype');
  font-weight: 700;
}

body {
  margin: 0;
  font-family: Futura, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

